version: '3.8'

services:
  # API service
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data

  # Dashboard service
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on: # In order to ensure the API is up before the dashboard tries to connect
      - api

  # Ingestion service
  ingestion:
    build:
      context: .
      dockerfile: Dockerfile
    command: python -m src.ingestion
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: always # To ensure the ingestion service keeps running and fetching new data periodically